body {
    font-family: "Open Sans";
    background-color: hsl(0, 50, 50);
}

.title {
    font-family: "Domine";
    text-align: center;
}

.big-emoji {
    font-size: 4rem;
    vertical-align: middle;
}