body {
    font-family: "Open Sans";
    background-image: linear-gradient(120deg, hsl(0, 25%, 16%), hsl(0, 7%, 30%));
    background-attachment: fixed;
    color: antiquewhite;
}

.title {
    font-family: "Domine";
    text-align: center;
}

.big-emoji {
    font-size: 4rem;
    vertical-align: middle;
}